<div class="container-padrao">
    <div class="texto-padrao">
      <h3 class="titulo">Termos de Uso</h3>
      <p>
        Bem-vindo(a) à nossa aplicação! Antes de prosseguir, é importante que você leia e compreenda os termos e condições descritos abaixo. Ao utilizar nossa aplicação e fornecer seus dados pessoais, você concorda com estes termos e se compromete a segui-los.
      </p>
      <p>
        <strong>1. Coleta e Uso de Dados Pessoais</strong><br>
        Ao utilizar nossa aplicação, você concorda em fornecer informações precisas e completas, incluindo seu nome, CPF, endereço e respostas a perguntas específicas. Esses dados são coletados para permitir a concessão de um desconto de 10% em nosso serviço.
      </p>
      <p>
        <strong>2. Privacidade e Segurança dos Dados</strong><br>
        Comprometemo-nos a proteger a privacidade e a segurança dos seus dados pessoais. Seus dados serão armazenados de forma segura e serão usados exclusivamente para os fins estabelecidos nestes termos. Não compartilharemos seus dados com terceiros sem o seu consentimento expresso.
      </p>
      <p>
        <strong>3. Uso dos Dados para Fins Promocionais</strong><br>
        Ao concordar com estes termos, você autoriza o uso dos seus dados pessoais para fins promocionais, incluindo o envio de informações sobre nossos serviços, produtos e ofertas especiais. Caso não deseje receber tais informações, você poderá optar por não participar a qualquer momento.
      </p>
      <p>
        <strong>4. Concessão do Desconto</strong><br>
        Ao fornecer seus dados e concordar com estes termos, você será elegível para um desconto de 10% em nosso serviço de taxeamento. Esse desconto será aplicado mediante a verificação dos dados fornecidos e o cumprimento de todas as condições estabelecidas.
      </p>
      <p>
        <strong>5. Responsabilidade</strong><br>
        Nossa aplicação toma medidas para garantir a precisão e a confiabilidade das informações fornecidas. No entanto, não nos responsabilizamos por quaisquer danos diretos, indiretos, incidentais ou consequenciais resultantes do uso da aplicação ou da concessão do desconto.
      </p>
      <p>
        <strong>6. Alterações nos Termos</strong><br>
        Reservamo-nos o direito de modificar ou atualizar estes termos a qualquer momento. Recomendamos que você reveja periodicamente esta página para estar ciente de quaisquer alterações. O uso contínuo da aplicação após a modificação dos termos indica a sua aceitação das alterações.
      </p>
      <p>
        Ao clicar na caixa de seleção indicando que você leu e concorda com estes termos, você reconhece que leu, entendeu e concorda com todos os pontos acima mencionados. Se você não concorda com esses termos, não prossiga com o uso da aplicação.
      </p>
      <p>
        Se você tiver alguma dúvida sobre estes termos ou sobre o uso dos seus dados, entre em contato conosco através dos canais de suporte disponibilizados na aplicação.
      </p>
      <p class="ultima-atualizacao">
        Última atualização: 26/08/2023
      </p>

      <div class="d-flex justify-content-center align-itens-center">
        <button type="button" class="btn btn-primary" routerLink="/inicio">Voltar ao inicio</button>
      </div>

    </div>
  </div>
  
